<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('宿舍检查列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>周名称：</label>
                                <select name="weekname" th:with="type=${@dict.getType('sys_week_name')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>周数：</label>
                                <select name="weeknum" th:with="type=${@dict.getType('sys_week_num')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>检查人：</label>
                                <input type="text" name="checkedBy"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="addData()" shiro:hasPermission="nczxsushe:sushe:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="editData()" shiro:hasPermission="nczxsushe:sushe:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="nczxsushe:sushe:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="nczxsushe:sushe:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('nczxsushe:sushe:edit')}]];
        var detailFlag = [[${@permission.hasPermi('nczxsushe:sushe:detail')}]];
        var removeFlag = [[${@permission.hasPermi('nczxsushe:sushe:remove')}]];
        var weeknameDatas = [[${@dict.getType('sys_week_name')}]];
        var weeknumDatas = [[${@dict.getType('sys_week_num')}]];
        var prefix = ctx + "nczxsushe/sushe";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "宿舍检查",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'weekname',
                    title: '周名称',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(weeknameDatas, value);
                    }
                },
                {
                    field: 'weeknum',
                    title: '周数',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(weeknumDatas, value);
                    }
                },
                {
                    field: 'checkedBy',
                    title: '检查人'
                },
                {
                    field: 'createTime',
                    title: '添加时间',
                    // return $.common.dateFormat(value,'yyyy-MM-dd ');
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
                    formatter: function (value, row, index) {
                        if (value===null)
                        {
                            return "没有更新";
                        }
                        else
                        {
                            return value;
                        }
                    }
                    // return $.common.dateFormat(value,'yyyy-MM-dd ');
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editDataColumn(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="detailDataColumn(\'' + row.id + '\')"><i class="fa fa-search"></i>详情</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /**
         * 新增记录
         */
        function addData(){
            $.modal.open("新增宿舍检查记录","/nczxsushe/sushe/add","1000","650");
        };

        /**
         * 编辑记录
         */
        function editData(){
            var id = $.table.selectColumns("id");
            $.modal.open("修改宿舍检查记录","/nczxsushe/sushe/edit/"+id,"1000","650");
        };
        /**
         * 行内的编辑记录
         */
        function editDataColumn(id){
            $.modal.open("修改宿舍检查记录","/nczxsushe/sushe/edit/"+id,"1000","650");
        };
        /**
         * 记录详情
         */
        function detailDataColumn(id){
            $.modal.open("宿舍检查记录详情","/nczxsushe/sushe/detail/"+id,"1000","650");
        };
    </script>
</body>
</html>